stages:
  - build
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375

build:
  stage: build
  script:
    - cd docker
    - docker-compose build

deploy:
  stage: deploy
  script:
    - echo "Deploying to production server..."
    - ssh $DEPLOY_USER@$DEPLOY_HOST "cd /var/www/taskflow && git pull && cd docker && docker-compose up -d --build"
  only:
    - main
  environment:
    name: production
    url: https://taskflow.selfmade.one
